@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}
/*---------------TOPO-MENU---------------------*/
header.topo{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    padding: 20px 0;
}
header.topo img{
    width: 40px;
    height: 40px;
}
nav.menu-desktop{
   
    margin-top: 20px;
}

nav a{
    padding: 10px 30px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: roboto;

}

/*---BARRA DE PESQUISA--*/  
