@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
}
/*---------------TOPO-MENU---------------------*/
header.topo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
header.topo img{
    width: 40px;
    height: 40px;
}
nav.menu-desktop{
   
    margin-top: 20px;
}

nav a{
    padding: 10px 30px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: roboto;

}

/*---BARRA DE PESQUISA--*/  

header.topo .submit-line input{ 
    padding: 12px 30px;
    color: #9C9696;
    font-weight: bold;
}

/*--------- CONTEUDO PRINCIPAL--------*/
.conteudo-principal{
    position: absolute;
    z-index: 1;
}

.conteudo-principal .textEndBtn{
    padding: 300px 50px 0 50px ;
    
}

.conteudo-principal .textEndBtn h2{
    font-family: roboto;
    font-size: 60px;
    font-weight: 700;
    color: #000;
    text-align: left;



}


main.conteudo-principal{
    display: flex;
    justify-content: space-around;
}
.textEndBtn{
   width: 40%; 
    background-color:#E5E5E5;
}

.galeria{
    width:60%;
    background-color: #C4C4C4;

}
.galeria .img-principal{
   width: 100%;
    text-align: center;
    padding: 300px 0 20px 0;
    z-index: 2;

}
.galeria .img-principal img{
    width: 497px;
    height: 410px;
    

}

.galeria .img-secundarias{
    display: flex;
    justify-content: space-around;
    width: 99%;
    text-align: center;
}
.galeria .img-secundarias img{
    width: 33.33%;
    padding: 0 15px;
}

/*-----------FOOTER----------------*/
footer.rodape{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    background-color:#E5E5E5;
}
footer.rodape nav{
    margin-top: 50px;
}
